*,
*:after,
*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
    color: #777;
    line-height: 1.7;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.input-box{
    font-size: 2.2rem;
    padding: 0.8rem 1rem;
}

.btn{
    font-size: 1.4rem;
    padding: 1rem;
    cursor: pointer;
    border: none;
    margin: 0 1rem;
}

.input-parent{
    display: flex;
    align-items: baseline;   
}

.msg{
    color: #FF6F61;
    font-size: 1.6rem;
}

.list-parent{
    overflow-y: scroll;
    height: 85vh;
}

.list-parent > li{
    list-style: none;
    color: #6B5B95;
    text-align: center;
}

.msg--hidden{
    display: none;
}